<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>JUNGBOOK</title>
    <style>
        html, body{
            height: 80%;
        }
        body{
            background-color: #F6F6F8;
        }
    </style>

    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <div id="welcomeModal" class="modal hide fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">JUNGBOOK</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${session.get('greeting')}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="s01">
        <form action="/bookList.do">
            <fieldset>
                <legend>당신의 책을 찾아보세요.</legend>
            </fieldset>
            <div class="inner-form">
                <div class="input-field first-wrap">
                    <input name="keyword" id="search" type="text" placeholder="어떤 책을 찾고 계신가요?">
                </div>
                <div class="input-field second-wrap">
                    <input name="d_catg" id="location" type="text" placeholder="카테고리">
                </div>
                <div class="input-field third-wrap">
                    <button class="btn-search" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        let modalCheck = sessionStorage.getItem("welcomeModal");
        if(modalCheck == null){
            $(window).on('load', function() {
                $('#welcomeModal').modal('show');
            });
            sessionStorage.setItem("welcomeModal", "true");
        }
    </script>
</body>
</html>